{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Wider Card -->
    <div class="col-lg-8 col-md-10">
      <!-- Sign-up Card -->
      <div class="card shadow-sm">
        <div class="card-header brand-green-bg text-white text-center">
          <h3 class="mb-0">{% trans "Sign Up" %}</h3>
        </div>
        <div class="card-body p-5">
          <p class="text-center text-muted">{% blocktrans %}
            Join the klubb or <a class="text-link" href="{{ login_url }}">sign in</a> if you're already a member. As a klubb member, you can participate in our polls and stay updated on upcoming features.
          {% endblocktrans %}</p>

          <!-- Sign-up Form -->
          <form id="signup_form" method="post" action="/accounts/signup/">
            <input type="hidden" name="csrfmiddlewaretoken" value="OwYSTUmNwcD89QbENa3JHcSIDaRMcIm0g38jqPyv8aMxVOk7DQ3ggO4eDwzIyn2X">
            
            <!-- Username Field -->
            <div class="row px-4 mb-3 mt-4">
              <div class="col-md-4 col-12 text-md-start text-center">
                <label for="id_username" class="form-label">Username</label>
              </div>
              <div class="col-md-8 col-12">
                <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
              </div>
            </div>

            <!-- Email Field -->
            <div class="row px-4 mb-3">
              <div class="col-md-4 col-12 text-md-start text-center">
                <label for="id_email" class="form-label">Email</label>
              </div>
              <div class="col-md-8 col-12">
                <input type="email" name="email" class="form-control" placeholder="Email address" autocomplete="email" maxlength="320" id="id_email">
              </div>
            </div>

            <!-- Password Field -->
            <div class="row px-4 mb-3">
              <div class="col-md-4 col-12 text-md-start text-center">
                <label for="id_password1" class="form-label">Password</label>
              </div>
              <div class="col-md-8 col-12">
                <input type="password" name="password1" class="form-control" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
              </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="row px-4 mb-4">
              <div class="col-md-4 col-12 text-md-start text-center">
                <label for="id_password2" class="form-label">Confirm Password</label>
              </div>
              <div class="col-md-8 col-12">
                <input type="password" name="password2" class="form-control" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
              </div>
            </div>

            <!-- Sign-up Button -->
            <div class="text-center pt-3">
              <button class="btn btn-style" type="submit">
                Sign Up »
              </button>
            </div>
          </form>
        </div>
        
        <!-- Card Footer -->
        <div class="card-footer text-center p-3">
          <small class="text-muted">{% trans "Already have an account?" %} <a href="{{ login_url }}" class="text-link">{% trans "Sign In" %}</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
