{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign Up" %}</h3>

      <p>{% blocktrans %}
        Join the klubb or <a class="link" href="{{ login_url }}">sign in</a> if you're already a member. As a klubb member, you can participate in our polls and stay updated on upcoming features.
      {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-style right" type="submit">
          {% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}