body {
    background-color: #F9FAFC;
    font-family: Quicksand, sans-serif;
}

/* Navbar */

.brand {
    font-family: Righteous, sans-serif;
    font-size: 2rem;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #282929;
}

.main-bg {
    background-color: #ffffff;
}

.nav-link {
    color: #f75067 !important;
}

.nav-link.active {
    color: #00bd67 !important;
}

.nav-link-hover:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f75067;
}

.scale {
    width: 100%;
    height: auto;
}

.label {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #282929;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    background: #282929;
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #282929;
}

.post-link:hover {
    color: #00bd67;
}

.polls-link {
    text-decoration: none;
    color: #00bd67;
}

.polls-link:hover {
    color: #282929;
    text-decoration: underline;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #d3d3d3;
}

.btn-style,
.btn-edit {
    background-color: #00bd67;
    color: #fff;
}

.btn-style:hover,
.btn-style:active {
    background-color: #fff;
    color: #00bd67;
}

.btn-delete {
    background-color: #f75067;
    color: #fff;
}
.btn-delete:hover,
.btn-delete:active {
    background-color: #fff;
    color: #f75067;
}


.link {
    color: #f75067;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #00bd67;
    text-decoration: underline;
}

.btn-like {
    color: #00bd67;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #f75067;
}

.btn-like:hover,
.btn-like:active {
    color: #00bd67;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}