/* Existing Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9FAFC;
    font-family: Quicksand, sans-serif;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #282929;
}

.main-bg {
    background-color: #ffffff;
}

.brand-green-bg {
    background-color: #00bd67
}

/* Navbar */

.navbar {
    background-color: #0f0f0f;
    background-size: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand {
    font-family: Righteous, sans-serif;
    font-size: 2rem;
    color: #4A4A4F;
}

.navbar-brand {
    font-size: 2.5rem;
    color: #fff !important;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #00bd67 !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-link {
    font-size: 1.1rem;
    color: #ffffff !important;
    padding: 0.75rem 1.25rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link.active {
    color: #00bd67 !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #00bd67 !important;
    transform: scale(1.1);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #f75067;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item {
    color: white !important;
    padding: 0.75rem 1.25rem;
    transition: color 0.3s ease, transform 0.3s ease;
    background-color: transparent !important;
    transform-origin: center;
}

.dropdown-item:hover {
    color: #ffffff !important;
    transform: scale(1.1);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    background-color: transparent !important;
    transform-origin: center;
}


/* Alert Messages*/

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error, .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.message-wrapper {
    max-width: 500px;
    margin: 0 auto;
}


/* Card styling */

.card {
    border: none;
    background-color: transparent;
    border-radius: 12px;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.card-link {
    text-decoration: none;
    color: inherit
}

.card-link:hover {
    text-decoration: none;
    color: #00bd67;
}

.card-blog:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #f1f1f1;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color:#00bd67
}

.scale {
    width: 100%;
    height: auto;
}

.label {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link a {
    text-decoration: none;
    color: #282929;
    font-size: 1.5rem;
}

.post-link:hover a {
    color: #00bd67;
    text-decoration: underline;
}

.text-link {
    color: #007B3E;
    text-decoration: none;
    font-weight: 600;
}

.text-link:hover,
.text-link:active {
    color: #005D2D;
    text-decoration: underline;
}

/* Buttons */

.btn-style {
    background-color: #00bd67;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0px 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-style:hover {
    background-color: #fff;
    color: #00bd67;
    border: 1px solid #00bd67;
}

.btn-style,
.btn-edit {
    background-color: #00bd67;
    color: #fff;
}

.btn-style:hover,
.btn-style:active {
    background-color: #fff;
    color: #00bd67;
}

.btn-delete {
    background-color: #f75067;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0px 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete:hover {
    background-color: #fff;
    color: #f75067;
    border: 1px solid #f75067;
}

.btn-like {
    color: #00bd67;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #00bd67;
    background: transparent;
    border: none;
}

.btn-back {
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    text-decoration: none;
    display: inline-block;
    transition: border 0.3s ease, color 0.3s ease;
    border: 1px solid #000000;
}

.btn-back:hover {
    background-color: #000000;
    color: #ffffff;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Blog Detail Page */

.hero-section {
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
}

.hero-image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Polls Page */
.polls-header {
    background-color: #00bd67;
    background-image: url("{% static 'images/polls-bg.jpg' %}"); /* Add background image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem 0;
}

.list-group-item {
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.container {
    max-width: 900px;
    margin: auto;
}

/* Utility classes */
.text-white {
    color: white;
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Poll question */

.polls-question-text {
    color: #282929;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/* Polls Choice Items Styling */

.polls-results-list {
    list-style: none;
    padding: 0;
}

.polls-choice-item {
    font-size: 1.2rem;
    font-weight: 500;
    color: #282929;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e9ecef;
}

/* Footer */

.footer {
    background-color: #0f0f0f;
    background-image: url('/static/images/grain-texture.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer a i {
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer a i:hover {
    color: #00bd67 !important;
    transform: scale(1.2);
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .navbar-collapse {
        justify-content: center;
    }
    
    .navbar-nav .nav-link {
        text-decoration: none;
        transform: none;
    }
    
    .navbar-nav .nav-link:hover {
        transform: scale(1.1);
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        transform: none;
        text-decoration: none;
    }
    
    .navbar-nav .nav-link:hover {
        color: #00bd67 !important;
        transform: scale(1.05);
    }
}