{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="mx-0 mx-sm-auto">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <p>
                    <legend><h1> Welcome to the polls!</h1></legend>
                </p>
            </div>
            <div>
                {% if latest_question_list %}
                    <ul class="px-4">
                {% for question in latest_question_list %}
                    <li class="d-flex flex-column align-items-center"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                    </ul>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}