{% extends 'base.html' %} 
{% block content %}
{% load static %}

<!-- Hero Section -->
<div class="hero-section position-relative text-center py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="hero-image-wrapper">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/fyrplats-vinter.png' %}" class="img-fluid rounded shadow-lg mx-auto d-block" alt="Placeholder Image">
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="img-fluid rounded shadow-lg mx-auto d-block" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card shadow-sm p-4">
                <div class="card-body">
                    <!-- Post title goes in these h1 tags -->
                    <h1 class="card-title display-4 text-center">{{ post.title }}</h1>
                    <!-- Post creation goes in the p tag -->
                    <p class="card-subtitle text-center text-muted mb-4">{{ post.created_on|date:"F j, Y" }}</p>
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}